################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZipCo/.vs/JobTest/v16/.suo
