################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZipCo/.vs/JobTest/v16/.suo
/ZipCo/.vs/VSWorkspaceState.json
/ZipCo/.vs/slnx.sqlite
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/Server/sqlite3/storage.ide-wal
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/Server/sqlite3/storage.ide-shm
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/Server/sqlite3/storage.ide
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/Server/sqlite3/db.lock
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/Server/sqlite3
/ZipCo/ZipPay.Users/.vs/ZipPay.Users/v16/.suo
